.parrot-block {
  position: absolute;
  z-index: 10;
  top: 74px;
  width: 150px;

  .close-icon {
    height: 10px;
    cursor: pointer;
  }
}
.parrot-intro {
  margin: auto;
}
.parrot {
  position: absolute;
  top: -8px;
}

.message-content-container {
  top: 10px;
  left: 20px;
  margin-bottom: 5px;
}

.hover-wrapper {
  position: absolute;
}
.cursor {
  cursor: pointer;
}

.hover-wrapper-large-screen {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 60px;
  left: 120px;
}

.hover-wrapper-small-screen {
  position: absolute;
  width: 100px;
  height: 200px;
  top: 20px;
}

.message-bubble {
  position: absolute;
  background: white;
  border: 1px solid #5855e4;
  width: 250px;
  min-height: 80px;
  padding: 10px;
  font-family: arial;
  margin: 0 auto;
  font-size: 14px;
  border-radius: 6px;
}
.message-bubble:after,
.message-bubble:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.message-bubble:after {
  border-color: rgba(255, 255, 204, 0);
  border-right-color: white;
  border-width: 15px;
  margin-top: -15px;
}
.message-bubble:before {
  border-color: rgba(255, 204, 0, 0);
  border-right-color: #5855e4;
  border-width: 16px;
  margin-top: -16px;
}

.message-bubble-large-screen {
  top: 65px;
  left: 260px;
}

.message-bubble-small-screen {
  top: 0px;
  left: 100px;
}
