.wizard-intro {
  margin-bottom: 25px;
  margin-top: 64px;
  .item {
    width: 175px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #4a4a4a;
  }
  .title,
  .subtitle {
    text-transform: uppercase;
    color: #4a4a4a;
  }
  .title {
    font-size: 30px;
  }
  .subtitle {
    font-size: 20px;
    font-weight: 500;
  }
  .text {
    font-size: 16px;
    white-space: break-spaces;
  }
  .icon-button-warp {
    &:hover {
      opacity: 0.5;
      background-color: #18c19b;
    }
    margin: 5px;
    height: 19px;
    width: 19px;
  }
  .active-icon-button-warp {
    height: 19px;
    width: 19px;
    margin: 5px;
  }
  .circle-icon {
    color: #18c19b;
    opacity: 0.2;
  }
  .indicator-container {
    border-top: 1px solid #dfe5e4;
    padding-top: 17px;
    width: 40%;
    margin: auto;
    margin: 17px auto 0 auto;
  }
  .main-btn-container .mainBtnStyle {
    box-shadow: 0px 6px 12px rgba(74, 74, 74, 0.25),
      0px 1px 1px rgba(74, 74, 74, 0.05);
    border-radius: 6px;
  }
}
