@import '../../util/cssUntil.scss';
.footer {
	.footer-container {
		height: 75px;
		border-top: 1px solid #ebe7f0;
		background: $AppBackgroundColor;
		padding: 20px 30px 0 30px;
		width: 100%;
		box-sizing: border-box;
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		.footer-left {
			font-size: 12px;
			float: left;
		}
		.footer-right {
			display: flex;
			align-items: center;
		}
		.footer-link {
			cursor: pointer;
			border-right: 1px solid #cccccc;
			text-decoration: none;
			color: $PrimaryInvestors;
			font-size: 13px;
			padding: 0 10px 0 0;
			margin: 0 10px 0 0;
		}
		.footer-link:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}
