.ingredientes {
	.MuiCard-root {
		max-width: 345px;
		margin: 10px;

		.MuiCardActions-root {
			justify-content: space-around;
		}
	}

	.MuiCardActions-root {
		background-color: #551a8b9e;
		button {
			color: aliceblue;
		}
	}
}
